<div class="wineitem-main-container">
    <div class="wineitem-container" [class]="Data.isOnSale ? 'in-stock' : 'out-of-stock'">
        <img src="{{Data.imageUrl}}" alt="image of wine bottle">
        <h6>{{Data.name}}</h6>
        <h6>{{Data.price}}€</h6>
        <div class="wine-button">
            <button type="button" (click)="increase()">+</button>
            <h6>{{Data.quantityInCart}}</h6>
            <button type="button" [disabled]="Data.quantityInCart == 0 ? true : false" (click)=" decrease()">-</button>
        </div>

    </div>
</div>